## Attempt 1 to optimise the NN

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns=["EIN","NAME"],axis=1, inplace=True)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Choose a cutoff value and create a list of application types to be replaced use the variable name `application_types_to_replace`
application_types_to_replace = ["T9","T13","T12","T2","T25","T14","T29","T15","T17"]

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

In [4]:
value_counts = application_df["CLASSIFICATION"].value_counts()
classifications_to_replace = value_counts.loc[value_counts < 1000].index.tolist()

for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [5]:
no = ["0"]
low = ["1-9999","10000-24999","25000-99999"]
medium = ["100000-499999","1M-5M"]
high = ["5M-10M","10M-50M","50M+"]

for value in no:
    application_df['INCOME_AMT'] = application_df['INCOME_AMT'].replace(value,"Nothing")

for value in low:
    application_df['INCOME_AMT'] = application_df['INCOME_AMT'].replace(value,"Low")

for value in medium:
    application_df['INCOME_AMT'] = application_df['INCOME_AMT'].replace(value,"Medium")

for value in high:
    application_df['INCOME_AMT'] = application_df['INCOME_AMT'].replace(value,"High")

In [6]:
cat_columns = ['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'SPECIAL_CONSIDERATIONS', 'INCOME_AMT']
cat_df = pd.get_dummies(application_df, columns=cat_columns)
cat_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,ORGANIZATION_Association,ORGANIZATION_Co-operative,ORGANIZATION_Corporation,ORGANIZATION_Trust,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,INCOME_AMT_High,INCOME_AMT_Low,INCOME_AMT_Medium,INCOME_AMT_Nothing
0,1,5000,1,0,1,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,1
1,1,108590,1,0,0,0,1,0,0,0,...,0,1,0,0,1,0,0,1,0,0
2,1,5000,0,0,0,0,0,0,1,0,...,1,0,0,0,1,0,0,0,0,1
3,1,6692,1,0,0,0,1,0,0,0,...,0,0,0,1,1,0,0,1,0,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,0,1,1,0,0,0,1,0

In [7]:
# Split our preprocessed data into our features and target arrays
y = cat_df["IS_SUCCESSFUL"].values
X = cat_df.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [8]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [9]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 7
hidden_nodes_layer3 = 7

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="tanh"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="relu"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 312

 dense_1 (Dense)             (None, 7)                 63

 dense_2 (Dense)             (None, 7)                 56

 dense_3 (Dense)             (None, 1)                 8

=================================================================
Total params: 439
Trainable params: 439
Non-trainable params: 0
_________________________________________________________________

In [10]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [11]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 891us/step - loss: 2.1767 - accuracy: 0.5962
Epoch 2/100
804/804 [==============================] - 1s 921us/step - loss: 1.0190 - accuracy: 0.6863
Epoch 3/100
804/804 [==============================] - 1s 892us/step - loss: 0.6114 - accuracy: 0.7111
Epoch 4/100
804/804 [==============================] - 1s 856us/step - loss: 0.5808 - accuracy: 0.7173
Epoch 5/100
804/804 [==============================] - 1s 874us/step - loss: 0.5994 - accuracy: 0.7130
Epoch 6/100
804/804 [==============================] - 1s 904us/step - loss: 0.5820 - accuracy: 0.7172
Epoch 7/100
804/804 [==============================] - 1s 889us/step - loss: 0.5658 - accuracy: 0.7248
Epoch 8/100
804/804 [==============================] - 1s 871us/step - loss: 0.5637 - accuracy: 0.7259
Epoch 9/100
804/804 [==============================] - 1s 861us/step - loss: 0.5626 - accuracy: 0.7253
Epoch 10/100
804/804 [==============================] - 1s 931us/step - loss: 0.5596 - accuracy: 0.7267
Epoch 11/100
804/804 [==============================] - 1s 867us/step - loss: 0.5601 - accuracy: 0.7280
Epoch 12/100
804/804 [==============================] - 1s 874us/step - loss: 0.5595 - accuracy: 0.7285
Epoch 13/100
804/804 [==============================] - 1s 874us/step - loss: 0.5633 - accuracy: 0.7276
Epoch 14/100
804/804 [==============================] - 1s 831us/step - loss: 0.5587 - accuracy: 0.7284
Epoch 15/100
804/804 [==============================] - 1s 837us/step - loss: 0.5572 - accuracy: 0.7274
Epoch 16/100
804/804 [==============================] - 1s 896us/step - loss: 0.5588 - accuracy: 0.7275
Epoch 17/100
804/804 [==============================] - 1s 836us/step - loss: 0.5584 - accuracy: 0.7280
Epoch 18/100
804/804 [==============================] - 1s 858us/step - loss: 0.5624 - accuracy: 0.7283
Epoch 19/100
804/804 [==============================] - 1s 820us/step - loss: 0.5551 - accuracy: 0.7290
Epoch 20/100
804/804 [==============================] - 1s 855us/step - loss: 0.5567 - accuracy: 0.7289
Epoch 21/100
804/804 [==============================] - 1s 879us/step - loss: 0.5637 - accuracy: 0.7271
Epoch 22/100
804/804 [==============================] - 1s 831us/step - loss: 0.5797 - accuracy: 0.7211
Epoch 23/100
804/804 [==============================] - 1s 828us/step - loss: 0.5667 - accuracy: 0.7252
Epoch 24/100
804/804 [==============================] - 1s 880us/step - loss: 0.5608 - accuracy: 0.7279
Epoch 25/100
804/804 [==============================] - 1s 878us/step - loss: 0.5600 - accuracy: 0.7287
Epoch 26/100
804/804 [==============================] - 1s 877us/step - loss: 0.5596 - accuracy: 0.7288
Epoch 27/100
804/804 [==============================] - 1s 874us/step - loss: 0.5582 - accuracy: 0.7292
Epoch 28/100
804/804 [==============================] - 1s 879us/step - loss: 0.5570 - accuracy: 0.7289
Epoch 29/100
804/804 [==============================] - 1s 869us/step - loss: 0.5569 - accuracy: 0.7303
Epoch 30/100
804/804 [==============================] - 1s 844us/step - loss: 0.5561 - accuracy: 0.7292
Epoch 31/100
804/804 [==============================] - 1s 892us/step - loss: 0.5553 - accuracy: 0.7284
Epoch 32/100
804/804 [==============================] - 1s 889us/step - loss: 0.5563 - accuracy: 0.7296
Epoch 33/100
804/804 [==============================] - 1s 885us/step - loss: 0.5575 - accuracy: 0.7286
Epoch 34/100
804/804 [==============================] - 1s 858us/step - loss: 0.5558 - accuracy: 0.7290
Epoch 35/100
804/804 [==============================] - 1s 864us/step - loss: 0.5549 - accuracy: 0.7292
Epoch 36/100
804/804 [==============================] - 1s 922us/step - loss: 0.5579 - accuracy: 0.7284
Epoch 37/100
804/804 [==============================] - 1s 933us/step - loss: 0.5570 - accuracy: 0.7275
Epoch 38/100
804/804 [==============================] - 1s 873us/step - loss: 0.5561 - accuracy: 0.7304
Epoch 39/100
804/804 [==============================] - 1s 911us/step - loss: 0.5551 - accuracy: 0.7294
Epoch 40/100
804/804 [==============================] - 1s 877us/step - loss: 0.5546 - accuracy: 0.7297
Epoch 41/100
804/804 [==============================] - 1s 879us/step - loss: 0.5562 - accuracy: 0.7285
Epoch 42/100
804/804 [==============================] - 1s 876us/step - loss: 0.5571 - accuracy: 0.7289
Epoch 43/100
804/804 [==============================] - 1s 825us/step - loss: 0.5543 - accuracy: 0.7300
Epoch 44/100
804/804 [==============================] - 1s 823us/step - loss: 0.5547 - accuracy: 0.7301
Epoch 45/100
804/804 [==============================] - 1s 857us/step - loss: 0.5539 - accuracy: 0.7294
Epoch 46/100
804/804 [==============================] - 1s 828us/step - loss: 0.5575 - accuracy: 0.7300
Epoch 47/100
804/804 [==============================] - 1s 857us/step - loss: 0.5525 - accuracy: 0.7303
Epoch 48/100
804/804 [==============================] - 1s 870us/step - loss: 0.5535 - accuracy: 0.7290
Epoch 49/100
804/804 [==============================] - 1s 844us/step - loss: 0.5561 - accuracy: 0.7289
Epoch 50/100
804/804 [==============================] - 1s 855us/step - loss: 0.5544 - accuracy: 0.7287
Epoch 51/100
804/804 [==============================] - 1s 871us/step - loss: 0.5544 - accuracy: 0.7295
Epoch 52/100
804/804 [==============================] - 1s 849us/step - loss: 0.5530 - accuracy: 0.7302
Epoch 53/100
804/804 [==============================] - 1s 848us/step - loss: 0.5530 - accuracy: 0.7298
Epoch 54/100
804/804 [==============================] - 1s 837us/step - loss: 0.5552 - accuracy: 0.7283
Epoch 55/100
804/804 [==============================] - 1s 835us/step - loss: 0.5539 - accuracy: 0.7299
Epoch 56/100
804/804 [==============================] - 1s 840us/step - loss: 0.5550 - accuracy: 0.7297
Epoch 57/100
804/804 [==============================] - 1s 841us/step - loss: 0.5538 - accuracy: 0.7302
Epoch 58/100
804/804 [==============================] - 1s 859us/step - loss: 0.5576 - accuracy: 0.7280
Epoch 59/100
804/804 [==============================] - 1s 861us/step - loss: 0.5560 - accuracy: 0.7311
Epoch 60/100
804/804 [==============================] - 1s 879us/step - loss: 0.5617 - accuracy: 0.7295
Epoch 61/100
804/804 [==============================] - 1s 859us/step - loss: 0.5519 - accuracy: 0.7311
Epoch 62/100
804/804 [==============================] - 1s 864us/step - loss: 0.5516 - accuracy: 0.7302
Epoch 63/100
804/804 [==============================] - 1s 861us/step - loss: 0.5571 - accuracy: 0.7285
Epoch 64/100
804/804 [==============================] - 1s 858us/step - loss: 0.5533 - accuracy: 0.7315
Epoch 65/100
804/804 [==============================] - 1s 851us/step - loss: 0.5510 - accuracy: 0.7308
Epoch 66/100
804/804 [==============================] - 1s 853us/step - loss: 0.5517 - accuracy: 0.7303
Epoch 67/100
804/804 [==============================] - 1s 903us/step - loss: 0.5537 - accuracy: 0.7308
Epoch 68/100
804/804 [==============================] - 1s 893us/step - loss: 0.5513 - accuracy: 0.7308
Epoch 69/100
804/804 [==============================] - 1s 867us/step - loss: 0.5538 - accuracy: 0.7287
Epoch 70/100
804/804 [==============================] - 1s 826us/step - loss: 0.5515 - accuracy: 0.7298
Epoch 71/100
804/804 [==============================] - 1s 851us/step - loss: 0.5517 - accuracy: 0.7300
Epoch 72/100
804/804 [==============================] - 1s 856us/step - loss: 0.5550 - accuracy: 0.7300
Epoch 73/100
804/804 [==============================] - 1s 869us/step - loss: 0.5521 - accuracy: 0.7308
Epoch 74/100
804/804 [==============================] - 1s 872us/step - loss: 0.5776 - accuracy: 0.7120
Epoch 75/100
804/804 [==============================] - 1s 858us/step - loss: 0.5588 - accuracy: 0.7271
Epoch 76/100
804/804 [==============================] - 1s 869us/step - loss: 0.5528 - accuracy: 0.7310
Epoch 77/100
804/804 [==============================] - 1s 914us/step - loss: 0.5516 - accuracy: 0.7311
Epoch 78/100
804/804 [==============================] - 1s 886us/step - loss: 0.5504 - accuracy: 0.7310
Epoch 79/100
804/804 [==============================] - 1s 919us/step - loss: 0.5510 - accuracy: 0.7311
Epoch 80/100
804/804 [==============================] - 1s 886us/step - loss: 0.5503 - accuracy: 0.7319
Epoch 81/100
804/804 [==============================] - 1s 862us/step - loss: 0.5497 - accuracy: 0.7315
Epoch 82/100
804/804 [==============================] - 1s 873us/step - loss: 0.5506 - accuracy: 0.7308
Epoch 83/100
804/804 [==============================] - 1s 925us/step - loss: 0.5499 - accuracy: 0.7305
Epoch 84/100
804/804 [==============================] - 1s 907us/step - loss: 0.5503 - accuracy: 0.7310
Epoch 85/100
804/804 [==============================] - 1s 879us/step - loss: 0.5514 - accuracy: 0.7309
Epoch 86/100
804/804 [==============================] - 1s 885us/step - loss: 0.5582 - accuracy: 0.7284
Epoch 87/100
804/804 [==============================] - 1s 884us/step - loss: 0.5618 - accuracy: 0.7295
Epoch 88/100
804/804 [==============================] - 1s 901us/step - loss: 0.5522 - accuracy: 0.7300
Epoch 89/100
804/804 [==============================] - 1s 889us/step - loss: 0.5509 - accuracy: 0.7312
Epoch 90/100
804/804 [==============================] - 1s 895us/step - loss: 0.5522 - accuracy: 0.7306
Epoch 91/100
804/804 [==============================] - 1s 882us/step - loss: 0.5573 - accuracy: 0.7284
Epoch 92/100
804/804 [==============================] - 1s 921us/step - loss: 0.5517 - accuracy: 0.7312
Epoch 93/100
804/804 [==============================] - 1s 869us/step - loss: 0.5526 - accuracy: 0.7287
Epoch 94/100
804/804 [==============================] - 1s 850us/step - loss: 0.5522 - accuracy: 0.7314
Epoch 95/100
804/804 [==============================] - 1s 874us/step - loss: 0.5516 - accuracy: 0.7308
Epoch 96/100
804/804 [==============================] - 1s 882us/step - loss: 0.5505 - accuracy: 0.7302
Epoch 97/100
804/804 [==============================] - 1s 882us/step - loss: 0.5498 - accuracy: 0.7308
Epoch 98/100
804/804 [==============================] - 1s 861us/step - loss: 0.5509 - accuracy: 0.7302
Epoch 99/100
804/804 [==============================] - 1s 871us/step - loss: 0.5542 - accuracy: 0.7296
Epoch 100/100
804/804 [==============================] - 1s 871us/step - loss: 0.5515 - accuracy: 0.7312

In [12]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5567 - accuracy: 0.7250 - 284ms/epoch - 1ms/step
Loss: 0.5566607713699341, Accuracy: 0.7250145673751831

## Attempt 2 to Optimise

In [13]:
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.drop(columns=["EIN","NAME","USE_CASE"],axis=1, inplace=True)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,Association,1,0,N,5000,1
1,T3,Independent,C2000,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Trust,1,100000-499999,N,142590,1

In [14]:
# Choose a cutoff value and create a list of application types to be replaced use the variable name `application_types_to_replace`
application_types_to_replace = ["T9","T13","T12","T2","T25","T14","T29","T15","T17"]

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")


classifications_to_replace = value_counts.loc[value_counts < 1000].index.tolist()

for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

In [15]:
cat_columns = ['APPLICATION_TYPE', 'CLASSIFICATION', 'ORGANIZATION', 'SPECIAL_CONSIDERATIONS', 'INCOME_AMT','AFFILIATION']
cat_df = pd.get_dummies(application_df, columns=cat_columns)
cat_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,AFFILIATION_Regional
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,1,108590,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [16]:
# Split our preprocessed data into our features and target arrays
y = cat_df["IS_SUCCESSFUL"].values
X = cat_df.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [17]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [18]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 7
hidden_nodes_layer3 = 7

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="tanh"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="relu"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 8)                 312

 dense_5 (Dense)             (None, 7)                 63

 dense_6 (Dense)             (None, 7)                 56

 dense_7 (Dense)             (None, 1)                 8

=================================================================
Total params: 439
Trainable params: 439
Non-trainable params: 0
_________________________________________________________________

In [19]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 906us/step - loss: 1.2905 - accuracy: 0.6626
Epoch 2/100
804/804 [==============================] - 1s 968us/step - loss: 0.8210 - accuracy: 0.7051
Epoch 3/100
804/804 [==============================] - 1s 925us/step - loss: 0.6518 - accuracy: 0.6521
Epoch 4/100
804/804 [==============================] - 1s 902us/step - loss: 0.5902 - accuracy: 0.7168
Epoch 5/100
804/804 [==============================] - 1s 854us/step - loss: 0.5766 - accuracy: 0.7233
Epoch 6/100
804/804 [==============================] - 1s 865us/step - loss: 0.5731 - accuracy: 0.7245
Epoch 7/100
804/804 [==============================] - 1s 862us/step - loss: 0.5694 - accuracy: 0.7258
Epoch 8/100
804/804 [==============================] - 1s 863us/step - loss: 0.5676 - accuracy: 0.7257
Epoch 9/100
804/804 [==============================] - 1s 848us/step - loss: 0.5639 - accuracy: 0.7272
Epoch 10/100
804/804 [==============================] - 1s 851us/step - loss: 0.5629 - accuracy: 0.7278
Epoch 11/100
804/804 [==============================] - 1s 832us/step - loss: 0.5620 - accuracy: 0.7275
Epoch 12/100
804/804 [==============================] - 1s 836us/step - loss: 0.5616 - accuracy: 0.7273
Epoch 13/100
804/804 [==============================] - 1s 816us/step - loss: 0.5602 - accuracy: 0.7285
Epoch 14/100
804/804 [==============================] - 1s 826us/step - loss: 0.5595 - accuracy: 0.7293
Epoch 15/100
804/804 [==============================] - 1s 811us/step - loss: 0.5609 - accuracy: 0.7292
Epoch 16/100
804/804 [==============================] - 1s 826us/step - loss: 0.5618 - accuracy: 0.7294
Epoch 17/100
804/804 [==============================] - 1s 822us/step - loss: 0.5617 - accuracy: 0.7301
Epoch 18/100
804/804 [==============================] - 1s 818us/step - loss: 0.5621 - accuracy: 0.7291
Epoch 19/100
804/804 [==============================] - 1s 816us/step - loss: 0.5592 - accuracy: 0.7300
Epoch 20/100
804/804 [==============================] - 1s 841us/step - loss: 0.5585 - accuracy: 0.7303
Epoch 21/100
804/804 [==============================] - 1s 815us/step - loss: 0.5583 - accuracy: 0.7295
Epoch 22/100
804/804 [==============================] - 1s 806us/step - loss: 0.5582 - accuracy: 0.7299
Epoch 23/100
804/804 [==============================] - 1s 810us/step - loss: 0.5578 - accuracy: 0.7294
Epoch 24/100
804/804 [==============================] - 1s 816us/step - loss: 0.5573 - accuracy: 0.7314
Epoch 25/100
804/804 [==============================] - 1s 816us/step - loss: 0.5570 - accuracy: 0.7298
Epoch 26/100
804/804 [==============================] - 1s 825us/step - loss: 0.5594 - accuracy: 0.7312
Epoch 27/100
804/804 [==============================] - 1s 823us/step - loss: 0.5561 - accuracy: 0.7322
Epoch 28/100
804/804 [==============================] - 1s 821us/step - loss: 0.5564 - accuracy: 0.7306
Epoch 29/100
804/804 [==============================] - 1s 824us/step - loss: 0.5566 - accuracy: 0.7303
Epoch 30/100
804/804 [==============================] - 1s 826us/step - loss: 0.5560 - accuracy: 0.7319
Epoch 31/100
804/804 [==============================] - 1s 849us/step - loss: 0.5562 - accuracy: 0.7315
Epoch 32/100
804/804 [==============================] - 1s 873us/step - loss: 0.5556 - accuracy: 0.7304
Epoch 33/100
804/804 [==============================] - 1s 850us/step - loss: 0.5529 - accuracy: 0.7318
Epoch 34/100
804/804 [==============================] - 1s 848us/step - loss: 0.5525 - accuracy: 0.7315
Epoch 35/100
804/804 [==============================] - 1s 850us/step - loss: 0.5527 - accuracy: 0.7310
Epoch 36/100
804/804 [==============================] - 1s 870us/step - loss: 0.5523 - accuracy: 0.7317
Epoch 37/100
804/804 [==============================] - 1s 861us/step - loss: 0.5529 - accuracy: 0.7317
Epoch 38/100
804/804 [==============================] - 1s 866us/step - loss: 0.5522 - accuracy: 0.7333
Epoch 39/100
804/804 [==============================] - 1s 856us/step - loss: 0.5524 - accuracy: 0.7322
Epoch 40/100
804/804 [==============================] - 1s 836us/step - loss: 0.5521 - accuracy: 0.7318
Epoch 41/100
804/804 [==============================] - 1s 837us/step - loss: 0.5518 - accuracy: 0.7326
Epoch 42/100
804/804 [==============================] - 1s 835us/step - loss: 0.5515 - accuracy: 0.7333
Epoch 43/100
804/804 [==============================] - 1s 823us/step - loss: 0.5520 - accuracy: 0.7323
Epoch 44/100
804/804 [==============================] - 1s 869us/step - loss: 0.5517 - accuracy: 0.7331
Epoch 45/100
804/804 [==============================] - 1s 839us/step - loss: 0.5511 - accuracy: 0.7329
Epoch 46/100
804/804 [==============================] - 1s 841us/step - loss: 0.5518 - accuracy: 0.7326
Epoch 47/100
804/804 [==============================] - 1s 862us/step - loss: 0.5516 - accuracy: 0.7327
Epoch 48/100
804/804 [==============================] - 1s 839us/step - loss: 0.5515 - accuracy: 0.7318
Epoch 49/100
804/804 [==============================] - 1s 836us/step - loss: 0.5523 - accuracy: 0.7338
Epoch 50/100
804/804 [==============================] - 1s 849us/step - loss: 0.5526 - accuracy: 0.7320
Epoch 51/100
804/804 [==============================] - 1s 853us/step - loss: 0.5519 - accuracy: 0.7335
Epoch 52/100
804/804 [==============================] - 1s 850us/step - loss: 0.5514 - accuracy: 0.7330
Epoch 53/100
804/804 [==============================] - 1s 843us/step - loss: 0.5514 - accuracy: 0.7330
Epoch 54/100
804/804 [==============================] - 1s 835us/step - loss: 0.5509 - accuracy: 0.7339
Epoch 55/100
804/804 [==============================] - 1s 851us/step - loss: 0.5510 - accuracy: 0.7328
Epoch 56/100
804/804 [==============================] - 1s 837us/step - loss: 0.5505 - accuracy: 0.7333
Epoch 57/100
804/804 [==============================] - 1s 831us/step - loss: 0.5509 - accuracy: 0.7329
Epoch 58/100
804/804 [==============================] - 1s 833us/step - loss: 0.5505 - accuracy: 0.7337
Epoch 59/100
804/804 [==============================] - 1s 845us/step - loss: 0.5509 - accuracy: 0.7338
Epoch 60/100
804/804 [==============================] - 1s 825us/step - loss: 0.5508 - accuracy: 0.7331
Epoch 61/100
804/804 [==============================] - 1s 841us/step - loss: 0.5504 - accuracy: 0.7339
Epoch 62/100
804/804 [==============================] - 1s 841us/step - loss: 0.5508 - accuracy: 0.7337
Epoch 63/100
804/804 [==============================] - 1s 843us/step - loss: 0.5506 - accuracy: 0.7323
Epoch 64/100
804/804 [==============================] - 1s 846us/step - loss: 0.5513 - accuracy: 0.7336
Epoch 65/100
804/804 [==============================] - 1s 834us/step - loss: 0.5509 - accuracy: 0.7343
Epoch 66/100
804/804 [==============================] - 1s 843us/step - loss: 0.5504 - accuracy: 0.7338
Epoch 67/100
804/804 [==============================] - 1s 832us/step - loss: 0.5503 - accuracy: 0.7329
Epoch 68/100
804/804 [==============================] - 1s 821us/step - loss: 0.5508 - accuracy: 0.7329
Epoch 69/100
804/804 [==============================] - 1s 839us/step - loss: 0.5538 - accuracy: 0.7330
Epoch 70/100
804/804 [==============================] - 1s 843us/step - loss: 0.5506 - accuracy: 0.7336
Epoch 71/100
804/804 [==============================] - 1s 828us/step - loss: 0.5502 - accuracy: 0.7343
Epoch 72/100
804/804 [==============================] - 1s 838us/step - loss: 0.5501 - accuracy: 0.7342
Epoch 73/100
804/804 [==============================] - 1s 839us/step - loss: 0.5501 - accuracy: 0.7334
Epoch 74/100
804/804 [==============================] - 1s 831us/step - loss: 0.5502 - accuracy: 0.7344
Epoch 75/100
804/804 [==============================] - 1s 826us/step - loss: 0.5507 - accuracy: 0.7341
Epoch 76/100
804/804 [==============================] - 1s 835us/step - loss: 0.5505 - accuracy: 0.7348
Epoch 77/100
804/804 [==============================] - 1s 919us/step - loss: 0.5498 - accuracy: 0.7333
Epoch 78/100
804/804 [==============================] - 1s 881us/step - loss: 0.5503 - accuracy: 0.7342
Epoch 79/100
804/804 [==============================] - 1s 902us/step - loss: 0.5496 - accuracy: 0.7339
Epoch 80/100
804/804 [==============================] - 1s 860us/step - loss: 0.5508 - accuracy: 0.7335
Epoch 81/100
804/804 [==============================] - 1s 874us/step - loss: 0.5507 - accuracy: 0.7337
Epoch 82/100
804/804 [==============================] - 1s 846us/step - loss: 0.5493 - accuracy: 0.7345
Epoch 83/100
804/804 [==============================] - 1s 869us/step - loss: 0.5496 - accuracy: 0.7344
Epoch 84/100
804/804 [==============================] - 1s 858us/step - loss: 0.5497 - accuracy: 0.7338
Epoch 85/100
804/804 [==============================] - 1s 901us/step - loss: 0.5496 - accuracy: 0.7343
Epoch 86/100
804/804 [==============================] - 1s 897us/step - loss: 0.5501 - accuracy: 0.7338
Epoch 87/100
804/804 [==============================] - 1s 883us/step - loss: 0.5496 - accuracy: 0.7338
Epoch 88/100
804/804 [==============================] - 1s 882us/step - loss: 0.5494 - accuracy: 0.7343
Epoch 89/100
804/804 [==============================] - 1s 863us/step - loss: 0.5506 - accuracy: 0.7343
Epoch 90/100
804/804 [==============================] - 1s 871us/step - loss: 0.5487 - accuracy: 0.7344
Epoch 91/100
804/804 [==============================] - 1s 886us/step - loss: 0.5497 - accuracy: 0.7346
Epoch 92/100
804/804 [==============================] - 1s 854us/step - loss: 0.5496 - accuracy: 0.7350
Epoch 93/100
804/804 [==============================] - 1s 856us/step - loss: 0.5495 - accuracy: 0.7336
Epoch 94/100
804/804 [==============================] - 1s 846us/step - loss: 0.5492 - accuracy: 0.7346
Epoch 95/100
804/804 [==============================] - 1s 853us/step - loss: 0.5496 - accuracy: 0.7338
Epoch 96/100
804/804 [==============================] - 1s 858us/step - loss: 0.5490 - accuracy: 0.7352
Epoch 97/100
804/804 [==============================] - 1s 844us/step - loss: 0.5498 - accuracy: 0.7337
Epoch 98/100
804/804 [==============================] - 1s 838us/step - loss: 0.5490 - accuracy: 0.7343
Epoch 99/100
804/804 [==============================] - 1s 834us/step - loss: 0.5495 - accuracy: 0.7339
Epoch 100/100
804/804 [==============================] - 1s 862us/step - loss: 0.5491 - accuracy: 0.7343

In [20]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5592 - accuracy: 0.7262 - 251ms/epoch - 937us/step
Loss: 0.559160590171814, Accuracy: 0.7261807322502136

## Attempt 3 to optimise NN

In [21]:
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.drop(columns=["EIN","NAME"],axis=1, inplace=True)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [22]:
# Define the bin edges
bins = [0, 5000, 10000, 50000, 100000, 500000, 1000000, 5000000, 10000000, 50000000, 100000000]

# Bin the ASK_AMT column using the cut function
application_df['ASK_AMT_binned'] = pd.cut(application_df['ASK_AMT'], bins=bins)
application_df.drop(columns=['ASK_AMT'],axis=1, inplace=True)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,IS_SUCCESSFUL,ASK_AMT_binned
0,T10,Independent,C1000,ProductDev,Association,1,0,N,1,"(0, 5000]"
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,1,"(100000, 500000]"
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,0,"(0, 5000]"
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,1,"(5000, 10000]"
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,1,"(100000, 500000]"

In [23]:
# Choose a cutoff value and create a list of application types to be replaced use the variable name `application_types_to_replace`
application_types_to_replace = ["T9","T13","T12","T2","T25","T14","T29","T15","T17"]

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")


classifications_to_replace = value_counts.loc[value_counts < 1000].index.tolist()

for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

In [24]:
cat_columns = ['APPLICATION_TYPE', 'CLASSIFICATION', 'ORGANIZATION', 'SPECIAL_CONSIDERATIONS', 'INCOME_AMT','AFFILIATION', 'ASK_AMT_binned','USE_CASE']
cat_df = pd.get_dummies(application_df, columns=cat_columns)
cat_df.head()

,STATUS,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,"ASK_AMT_binned_(500000, 1000000]","ASK_AMT_binned_(1000000, 5000000]","ASK_AMT_binned_(5000000, 10000000]","ASK_AMT_binned_(10000000, 50000000]","ASK_AMT_binned_(50000000, 100000000]",USE_CASE_CommunityServ,USE_CASE_Heathcare,USE_CASE_Other,USE_CASE_Preservation,USE_CASE_ProductDev
0,1,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,1,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
3,1,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,1,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [25]:
# Split our preprocessed data into our features and target arrays
y = cat_df["IS_SUCCESSFUL"].values
X = cat_df.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [26]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [33]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 8
hidden_nodes_layer3 = 7

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="PReLU")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="PReLU"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="sigmoid"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="relu"))

# Check the structure of the model
nn.summary()

Model: "sequential_6"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_18 (Dense)            (None, 8)                 432

 dense_19 (Dense)            (None, 8)                 80

 dense_20 (Dense)            (None, 7)                 63

 dense_21 (Dense)            (None, 1)                 8

=================================================================
Total params: 583
Trainable params: 583
Non-trainable params: 0
_________________________________________________________________

In [34]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 1ms/step - loss: 0.6123 - accuracy: 0.6860
Epoch 2/100
804/804 [==============================] - 1s 915us/step - loss: 0.5669 - accuracy: 0.7261
Epoch 3/100
804/804 [==============================] - 1s 944us/step - loss: 0.5617 - accuracy: 0.7270
Epoch 4/100
804/804 [==============================] - 1s 912us/step - loss: 0.5592 - accuracy: 0.7305
Epoch 5/100
804/804 [==============================] - 1s 925us/step - loss: 0.5564 - accuracy: 0.7296
Epoch 6/100
804/804 [==============================] - 1s 932us/step - loss: 0.5548 - accuracy: 0.7309
Epoch 7/100
804/804 [==============================] - 1s 981us/step - loss: 0.5523 - accuracy: 0.7313
Epoch 8/100
804/804 [==============================] - 1s 999us/step - loss: 0.5531 - accuracy: 0.7308
Epoch 9/100
804/804 [==============================] - 1s 970us/step - loss: 0.5510 - accuracy: 0.7312
Epoch 10/100
804/804 [==============================] - 1s 936us/step - loss: 0.5511 - accuracy: 0.7310
Epoch 11/100
804/804 [==============================] - 1s 932us/step - loss: 0.5514 - accuracy: 0.7319
Epoch 12/100
804/804 [==============================] - 1s 967us/step - loss: 0.5495 - accuracy: 0.7319
Epoch 13/100
804/804 [==============================] - 1s 935us/step - loss: 0.5493 - accuracy: 0.7327
Epoch 14/100
804/804 [==============================] - 1s 945us/step - loss: 0.5497 - accuracy: 0.7324
Epoch 15/100
804/804 [==============================] - 1s 933us/step - loss: 0.5491 - accuracy: 0.7328
Epoch 16/100
804/804 [==============================] - 1s 952us/step - loss: 0.5491 - accuracy: 0.7322
Epoch 17/100
804/804 [==============================] - 1s 934us/step - loss: 0.5475 - accuracy: 0.7328
Epoch 18/100
804/804 [==============================] - 1s 930us/step - loss: 0.5472 - accuracy: 0.7328
Epoch 19/100
804/804 [==============================] - 1s 946us/step - loss: 0.5475 - accuracy: 0.7328
Epoch 20/100
804/804 [==============================] - 1s 985us/step - loss: 0.5482 - accuracy: 0.7322
Epoch 21/100
804/804 [==============================] - 1s 995us/step - loss: 0.5462 - accuracy: 0.7346
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5454 - accuracy: 0.7339
Epoch 23/100
804/804 [==============================] - 1s 975us/step - loss: 0.5452 - accuracy: 0.7346
Epoch 24/100
804/804 [==============================] - 1s 987us/step - loss: 0.5457 - accuracy: 0.7352
Epoch 25/100
804/804 [==============================] - 1s 975us/step - loss: 0.5470 - accuracy: 0.7324
Epoch 26/100
804/804 [==============================] - 1s 983us/step - loss: 0.5449 - accuracy: 0.7337
Epoch 27/100
804/804 [==============================] - 1s 1000us/step - loss: 0.5453 - accuracy: 0.7355
Epoch 28/100
804/804 [==============================] - 1s 963us/step - loss: 0.5443 - accuracy: 0.7352
Epoch 29/100
804/804 [==============================] - 1s 961us/step - loss: 0.5446 - accuracy: 0.7349
Epoch 30/100
804/804 [==============================] - 1s 952us/step - loss: 0.5454 - accuracy: 0.7346
Epoch 31/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5442 - accuracy: 0.7360
Epoch 32/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5441 - accuracy: 0.7363
Epoch 33/100
804/804 [==============================] - 1s 967us/step - loss: 0.5448 - accuracy: 0.7341
Epoch 34/100
804/804 [==============================] - 1s 991us/step - loss: 0.5437 - accuracy: 0.7364
Epoch 35/100
804/804 [==============================] - 1s 980us/step - loss: 0.5454 - accuracy: 0.7355
Epoch 36/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5451 - accuracy: 0.7362
Epoch 37/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7352
Epoch 38/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5431 - accuracy: 0.7347
Epoch 39/100
804/804 [==============================] - 1s 973us/step - loss: 0.5437 - accuracy: 0.7352
Epoch 40/100
804/804 [==============================] - 1s 962us/step - loss: 0.5444 - accuracy: 0.7368
Epoch 41/100
804/804 [==============================] - 1s 953us/step - loss: 0.5433 - accuracy: 0.7358
Epoch 42/100
804/804 [==============================] - 1s 936us/step - loss: 0.5467 - accuracy: 0.7338
Epoch 43/100
804/804 [==============================] - 1s 976us/step - loss: 0.5453 - accuracy: 0.7352
Epoch 44/100
804/804 [==============================] - 1s 955us/step - loss: 0.5433 - accuracy: 0.7374
Epoch 45/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5436 - accuracy: 0.7359
Epoch 46/100
804/804 [==============================] - 1s 980us/step - loss: 0.5433 - accuracy: 0.7358
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5428 - accuracy: 0.7369
Epoch 48/100
804/804 [==============================] - 1s 985us/step - loss: 0.5424 - accuracy: 0.7371
Epoch 49/100
804/804 [==============================] - 1s 943us/step - loss: 0.5644 - accuracy: 0.7231
Epoch 50/100
804/804 [==============================] - 1s 986us/step - loss: 0.5470 - accuracy: 0.7317
Epoch 51/100
804/804 [==============================] - 1s 954us/step - loss: 0.5441 - accuracy: 0.7338
Epoch 52/100
804/804 [==============================] - 1s 986us/step - loss: 0.5433 - accuracy: 0.7350
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5434 - accuracy: 0.7361
Epoch 54/100
804/804 [==============================] - 1s 996us/step - loss: 0.5428 - accuracy: 0.7367
Epoch 55/100
804/804 [==============================] - 1s 939us/step - loss: 0.5423 - accuracy: 0.7364
Epoch 56/100
804/804 [==============================] - 1s 996us/step - loss: 0.5422 - accuracy: 0.7364
Epoch 57/100
804/804 [==============================] - 1s 1000us/step - loss: 0.5419 - accuracy: 0.7372
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5419 - accuracy: 0.7369
Epoch 59/100
804/804 [==============================] - 1s 968us/step - loss: 0.5424 - accuracy: 0.7362
Epoch 60/100
804/804 [==============================] - 1s 994us/step - loss: 0.5421 - accuracy: 0.7371
Epoch 61/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5421 - accuracy: 0.7370
Epoch 62/100
804/804 [==============================] - 1s 987us/step - loss: 0.5421 - accuracy: 0.7369
Epoch 63/100
804/804 [==============================] - 1s 988us/step - loss: 0.5415 - accuracy: 0.7354
Epoch 64/100
804/804 [==============================] - 1s 985us/step - loss: 0.5417 - accuracy: 0.7371
Epoch 65/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5423 - accuracy: 0.7364
Epoch 66/100
804/804 [==============================] - 1s 983us/step - loss: 0.5547 - accuracy: 0.7301
Epoch 67/100
804/804 [==============================] - 1s 952us/step - loss: 0.5433 - accuracy: 0.7329
Epoch 68/100
804/804 [==============================] - 1s 963us/step - loss: 0.5422 - accuracy: 0.7362
Epoch 69/100
804/804 [==============================] - 1s 999us/step - loss: 0.5416 - accuracy: 0.7351
Epoch 70/100
804/804 [==============================] - 1s 962us/step - loss: 0.5417 - accuracy: 0.7364
Epoch 71/100
804/804 [==============================] - 1s 929us/step - loss: 0.5418 - accuracy: 0.7365
Epoch 72/100
804/804 [==============================] - 1s 973us/step - loss: 0.5412 - accuracy: 0.7363
Epoch 73/100
804/804 [==============================] - 1s 953us/step - loss: 0.5413 - accuracy: 0.7361
Epoch 74/100
804/804 [==============================] - 1s 972us/step - loss: 0.5413 - accuracy: 0.7364
Epoch 75/100
804/804 [==============================] - 1s 988us/step - loss: 0.5409 - accuracy: 0.7375
Epoch 76/100
804/804 [==============================] - 1s 978us/step - loss: 0.5408 - accuracy: 0.7369
Epoch 77/100
804/804 [==============================] - 1s 988us/step - loss: 0.5412 - accuracy: 0.7373
Epoch 78/100
804/804 [==============================] - 1s 965us/step - loss: 0.5416 - accuracy: 0.7367
Epoch 79/100
804/804 [==============================] - 1s 978us/step - loss: 0.5429 - accuracy: 0.7355
Epoch 80/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5408 - accuracy: 0.7362
Epoch 81/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5402 - accuracy: 0.7353
Epoch 82/100
804/804 [==============================] - 1s 973us/step - loss: 0.5409 - accuracy: 0.7369
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5405 - accuracy: 0.7375
Epoch 84/100
804/804 [==============================] - 1s 993us/step - loss: 0.5409 - accuracy: 0.7367
Epoch 85/100
804/804 [==============================] - 1s 966us/step - loss: 0.5403 - accuracy: 0.7378
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5403 - accuracy: 0.7369
Epoch 87/100
804/804 [==============================] - 1s 980us/step - loss: 0.5420 - accuracy: 0.7351
Epoch 88/100
804/804 [==============================] - 1s 969us/step - loss: 0.5407 - accuracy: 0.7366
Epoch 89/100
804/804 [==============================] - 1s 948us/step - loss: 0.5400 - accuracy: 0.7373
Epoch 90/100
804/804 [==============================] - 1s 970us/step - loss: 0.5411 - accuracy: 0.7374
Epoch 91/100
804/804 [==============================] - 1s 946us/step - loss: 0.5408 - accuracy: 0.7364
Epoch 92/100
804/804 [==============================] - 1s 939us/step - loss: 0.5396 - accuracy: 0.7364
Epoch 93/100
804/804 [==============================] - 1s 950us/step - loss: 0.5400 - accuracy: 0.7377
Epoch 94/100
804/804 [==============================] - 1s 942us/step - loss: 0.5406 - accuracy: 0.7364
Epoch 95/100
804/804 [==============================] - 1s 957us/step - loss: 0.5410 - accuracy: 0.7371
Epoch 96/100
804/804 [==============================] - 1s 957us/step - loss: 0.5399 - accuracy: 0.7373
Epoch 97/100
804/804 [==============================] - 1s 927us/step - loss: 0.5400 - accuracy: 0.7384
Epoch 98/100
804/804 [==============================] - 1s 938us/step - loss: 0.5402 - accuracy: 0.7370
Epoch 99/100
804/804 [==============================] - 1s 937us/step - loss: 0.5399 - accuracy: 0.7379
Epoch 100/100
804/804 [==============================] - 1s 960us/step - loss: 0.5407 - accuracy: 0.7370

In [ ]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Optimisation.h5')